<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Database</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <h1>Hello, MongoDB.</h1>

     <form action="/person" method="post">
      <label>First Name :</label>
      <input type="text" name="first" value="John"><br>
      <label>Last Name :</label>
      <input type="text" name="last" value="Doe"><br>
      <label>Last Name :</label>
      <input type="number" name="age" value=18 min=18><br><br>
      <input type="submit" value="Submit">
    </form> 
    
</body>
</html>